

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-inverse{

	background-image: linear-gradient(to bottom,#fdfdfd 0,#ffffff 100%);
	border-color: white;
	box-shadow: 0px 1px 1px gray;
}

.top{

	height: 40px;
	width: 100%;
	background-color: blue;
}















